version: "3.9"
services:
  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      - PORT=4000
    ports:
      - "4000:4000"
  frontend:
    image: nginx:alpine
    volumes:
      - ../frontend:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "3000:80"
    depends_on:
      - api
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  db:
    image: timescale/timescaledb:latest-pg15
    environment:
      - POSTGRES_PASSWORD=devpass
      - POSTGRES_USER=devuser
      - POSTGRES_DB=risk
    ports:
      - "5432:5432"
